<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@latest/dist/font-face.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@latest/dist/font-face.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/rastikerdar/samim-font@latest/dist/font-face.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/rastikerdar/shabnam-font@latest/dist/font-face.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/rastikerdar/tanha-font@latest/dist/font-face.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/rastikerdar/gandom-font@latest/dist/font-face.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/rastikerdar/nahid-font@latest/dist/font-face.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/rastikerdar/parastoo-font@latest/dist/font-face.css">
